{% extends 'pages/base.html' %}
{% load static %} 
{% block title %}Ombroo | Workspace{% endblock title %} 
{% block css %}<link rel="stylesheet" href="{% static 'css/workspace.css' %}"/>{% endblock css %}

{% block content %}
<div class="main-container">

  <!-- Container 1 -->
  <div class="horizontal-container">
      <p>To Do</p>
  </div>

  <span class="arrow-container">
    <i class="fas fa-arrow-right"></i>
  </span>

  <!-- Container 2 -->
  <div class="horizontal-container">
      <p>In Progress</p>
  </div>

  <span class="arrow-container">
    <i class="fas fa-arrow-right"></i>
  </span>

  <!-- Container 3 -->
  <div class="horizontal-container">
      <p>Testing</p>
  </div>

  <span class="arrow-container">
    <i class="fas fa-arrow-right"></i>
  </span>

  <!-- Container 4 -->
  <div class="horizontal-container">
      <p>Done</p>
  </div>
</div>

<!-- INPUT CONTAINER -->
<div class="input-container">

  <!-- Input Container 1 -->
  <div class="vertical-container">
      <p>To Do</p>
      <div class="vertical-container2">
        <div class="vertical-container3">das</div>
        <button>+ Add</button>
      </div>
  </div>

  <span class="empty-container"></span>
  <span class="arrow-container2">
    <i class="fas fa-arrow-down"></i>
  </span>

  <!-- Input Container 2 -->
  <div class="vertical-container">
    <p>To Do</p>
  </div>

  <span class="empty-container"></span>
  <span class="arrow-container2">
    <i class="fas fa-arrow-down"></i>
  </span>

  <!-- Input Container 3 -->
  <div class="vertical-container">
    <p>To Do</p>
  </div>

  <span class="empty-container"></span>
  <span class="arrow-container2">
    <i class="fas fa-arrow-down"></i>
  </span>

  <!-- Input Container 4 -->
  <div class="vertical-container">
    <p>To Do</p>
  </div>

</div>
{% endblock content %}
