{% extends 'pages/base.html' %}
{% load static %} 
{% block title %}Ombroo | Workspace{% endblock title %} 
{% block css %}<link rel="stylesheet" href="{% static 'css/workspace.css' %}"/>{% endblock css %}

{% block content %}
<div class="main-container">

  <!-- Container 1 -->
  <div class="horizontal-container">
      <p>To Do</p>
  </div>

  <span class="arrow-container">
    <i class="fas fa-arrow-right"></i>
  </span>

  <!-- Container 2 -->
  <div class="horizontal-container">
      <p>In Progress</p>
  </div>

  <span class="arrow-container">
    <i class="fas fa-arrow-right"></i>
  </span>

  <!-- Container 3 -->
  <div class="horizontal-container">
      <p>Testing</p>
  </div>

  <span class="arrow-container">
    <i class="fas fa-arrow-right"></i>
  </span>

  <!-- Container 4 -->
  <div class="horizontal-container">
      <p>Done</p>
  </div>
</div>

<!-- INPUT CONTAINER -->
<div class="input-container">

  <!-- Input Container 1 -->
  <div class="vertical-container1">

      <p>Basic Information</p>
      <div class="inside-container">
        <form method="POST" action="{% url 'workspace' %}">
        {% csrf_token %}
          <input type="text" name="task" Placeholder="item description">
          <button type="submit" class="btn-save">✔</button>
        </form>
        
        {% for task in tasks %}
        <form method="POST" action="{% url 'delete_task' forloop.counter0 %}">
          <p class="basic-container" draggable="true" ondragstart="dragStart(event)">
            {% csrf_token %}
            {{ task }} 
            <br>
            <button type="submit" class="btn-del"><i class="far fa-trash-alt"></i></button>
          </p>
        </form>
        {% empty %}
          <br>
          <p>No tasks added yet.</p>
        {% endfor %}
      </div>
  </div>

  <span class="empty-container"></span>
  <span class="arrow-container2">
    <i class="fas fa-arrow-down"></i>
  </span>

  <!-- Input Container 2 -->
  <div class="vertical-container2">
      <p>Implementation</p>
      <div class="inside-container" ondragover="allowDrop(event)" ondrop="drop(event)">
        <button class="btn-add">+ Add Grouping</button>
        <p class="implement-container" draggable="true" ondragstart="dragStart(event)">
          Drag and drop items.
        </p>
        <!-- Add a button to clear local storage -->
        <button id="btn-undo" onclick="resetLast()">↩</button>
        <button id="btn-reset" onclick="clearLocalStorage()"><i class="fas fa-trash"></i></button>
      </div>
  </div>

  <span class="empty-container"></span>
  <span class="arrow-container2">
    <i class="fas fa-arrow-down"></i>
  </span>

  <!-- Input Container 3 -->
  <div class="vertical-container3">
    <p>Testing Stage</p>
    <div class="inside-container" ondragover="allowDrop(event)" ondrop="drop(event)">
      <button class="btn-test">+ Add Grouping</button>
      <p class="testing-container" draggable="true" ondragstart="dragStart(event)"></p>
    </div>
  </div>

  <span class="empty-container"></span>
  <span class="arrow-container2">
    <i class="fas fa-arrow-down"></i>
  </span>

  <!-- Input Container 4 -->
  <div class="vertical-container4">
    <p>Completed Task(s)</p>
      <div class="inside-container" ondragover="allowDrop(event)" ondrop="drop(event)">
        <p class="completed-container" draggable="true" ondragstart="dragStart(event)"></p>
      </div>
  </div>

</div>

<!-- DRAG AND DROP SCRIPTS -->
<script src="{% static 'js/draganddrop.js' %}"></script>
<script src="{% static 'js/resetLast.js' %}"></script>
<script src="{% static 'js/clearImplement.js' %}"></script>
{% comment %} <script src="{% static 'js/clearImplement.js' %}"></script> {% endcomment %}
{% endblock content %}
